body {
  background-color: #262626;
}

nav {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #3a63ae;
  align-items: center;
  justify-content: space-around;
}

.list-item,
a {
  color: #fcfcfc;
}

nav a {
  color: azure;
  text-decoration: none;
}

h4 {
  color: #fcfcfc;
}

.percent-green {
  color: green;
}

.percent-red {
  color: red;
}

.Wrapper {
  display: flex;
  justify-content: space-around;
}

.search-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 80px;
  background-color: #5586e2;
}

.list-wrapper {
  /* column-count: 2;
  column-width: 50%;
  column-gap: 0; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
  grid-gap: 0;
  color: #fcfcfc;
  font-size: 20px;
  font-weight: 600;
}

.list-item {
  display: flex;
  padding: 20px;
  border-style: groove;
  border-width: 1px;
  justify-content: center;
  background-color: rgb(19, 18, 18);
}

.End {
  margin-left: 10px;
  align-self: flex-end;
}

.list-img {
  width: 80px;
  height: 80px;
}

.Single-Crypto-Wrapper {
  justify-content: center;
  padding-left: 60px;
}

img {
  height: 45px;
  width: 45px;
  margin-right: 10px;
}

.Single-Crypto-Wrapper,
h4 {
  margin-right: 20px;
}

input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  .list-wrapper {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
    grid-gap: 0;
  }

  .list-item {
    display: flex;
  }

  .End {
    margin-left: 80px;
    align-self: flex-end;
  }

  .list-img {
    width: 150px;
    height: 150px;
  }

  .Single-Crypto-Wrapper {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
  }
}
